@import "tailwindcss";

@theme {
  --color-background: black;
  --color-text: white;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: 'Inter', sans-serif;
}
